@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: #1c1c1c;
    --light-dark: rgb(10, 10, 10);
    --lighter-dark: rgb(34, 34, 34);
    --light: #fff;
}

* { box-sizing: border-box; }

body {
    background: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: var(--inter);
    color: #1c1c1c;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a, button {
    cursor: pointer;
    transition: 200ms;
}

a {
    color: rgb(255, 0, 55);
}

input, textarea {
    outline-color: var(--light);
    border: 2px solid var(--light);
    color: var(--light);
    background: transparent;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 14px;
    transition: 200ms;
    font-family: var(--ubuntu);
}

input::placeholder {
    color: var(--light);
}

main {
    min-height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Custom Classes */
.nodrag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}